<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Henry Ford</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.png" sizes="100px"/>
</head>
<body>
    <!-- Navbar Beginn -->
    <nav>
        <ul>
            <li><a href="index.html">
                <img src="images/logo.png" alt="Logo" height=20px/></a></li>
            <li><a href="#">Henry Ford</a>
                <ul><li><a href="Biografie.html">Biografie</a></li>
                    <li><a href="Quiz.html">Quiz</a></li>
                </ul>
            </li>
            <li><a href="#">Fliessband</a>
                <ul><li><a href="Erfindung.html">Erfindung</a></li>
                    <li><a href="Beinflussung-der-Wirtschaft.html">Beeinflussung der Wirtschaft</a></li>
                </ul>
            </li>
            <li><a href="#">Ford Unternehmung</a>
                <ul><li><a href="Aktuell.html">Aktuell</a></li>
                    <li><a href="Modell-A-T.html">Modell A-T</a></li>
                </ul>
            </li>
            <li><a href="#">Quellen</a>
                <ul><li><a href="Textquellen.html">Textquellen</a></li>
                    <li><a href="Bildquellen.html">Bildquellen</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Navbar Ende -->
    <!-- Main Beginn-->
    <main>
        <div style="text-align: center;">
        <h5 style="font-weight:700;font-size:25px;margin-bottom:30px;">Startseite</h5>
        <section>
            <h6 style="font-weight:700;font-size:20px;margin-bottom:30px;">Einleitung</h6> 
            <p style="font-weight:400; font-size:16px; margin-bottom:20px;margin-bottom:15px;text-align:justify;">    
                Henry Ford, ein Automobilpionier und kreativer Erfinder. Ford revolutionierte die Wirtschaft einerseits mit seinem Modell T und andererseits mit der Erfindung des Fliessbandes. Bis zu seinem Erfolg hatte er aber einen steinharten Weg voller Überraschungen und Hürden, die er überwinden musste. Der Tod seines Sohnes führte ihn wieder zurück in seine Tätigkeit als Geschäftsführer. Der Einfallreichtums Ford brachte ihn zu revolutionären Erfindungen. <br>
            </p>   
        </section>
    <section>
        <h6 style="font-weight:700;font-size:20px;margin-bottom:30px;">Fakten</h6> 
        <p style="font-weight:400; font-size:16px; margin-bottom:20px;margin-bottom:15px;">    
            15 Millionen T-Modelle gebaut und verkauft <br>
            Alle 10 Sekunden verliess ein T-Modell die Fabriken von Ford <br>
            Ford führte die acht Stundenschicht und den Tageslohn von fünf US-Dollar <br>
        </p>   
    </section>
    <section>
        <h6 style="font-weight:700;font-size:20px;margin-bottom:30px;">Unsere Motive</h6> 
        <p style="font-weight:400; font-size:16px; margin-bottom:20px;margin-bottom:15px;text-align:justify;">    
            Wir als Gruppe hatten uns für Henry Ford und seine Hinterlassenschaft erheblich interessiert. Wie genau wurde das Fliessband erfunden? Welches Fahrzeug revolutionierte die Autoindustrie? – Das waren Fragen, die wir uns als Gruppe gemeinsam stellten und es in dieser schulischen Arbeit versuchten zu beantworten. Ausserdem fanden wir es bemerkenswert erstaunlich wie Ford trotz Rückschläge nie aufgeben hatte und seinen Erfolg sich selbst durch harte Arbeit ebnete. 
        </p>
    </section>
        </div
        <section style="padding-bottom: 500px;"></section>
    </main>
    <!-- Main Ende-->
    <!-- Footer Beginn-->
    <footer>
        <div class= "footer-content">
            <p>Diese Website wurde für eine Projektarbeit entwickelt</p>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; 2021 Diego Fantino, Sven Wildhaber, Filip Slavkovic.</p>
            <p> designed by <span>Diego Fantino, Sven Wildhaber, Filip Slavkovic</span></p>
        </div>
    </footer>
    <!-- Footer Ende-->
</body>
</html>
